.wrapper {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 24px;
  height: 100dvh;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.h1 {
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}

.logoWrapper {
  position: relative;
}

.logo,
.highlight {
  background-clip: text;
  background-image: url("/logo-background.jpg");
  background-position: center;
  background-size: cover;
  // 最大横幅 1080 px 程度
  font-size: min(16.5dvw, 19.5rem);
  margin-top: min(-5.5dvw, 6.5rem);
  -webkit-text-fill-color: transparent;
}

.upper {
  font-size: calc(min(16.5dvw, 19.5rem) * 1.2);
}

.highlight {
  filter: brightness(1.5);
  position: absolute;
  top: 0;
}

.list {
  display: flex;
  font-size: 1.8rem;
  gap: 48px;
}
